<div class="mt-4">
    <form method="POST" >
        <input type="text" name="name" class="form-control rounded" placeholder="Name"  />
        <input type="text" name="age" class="form-control rounded mt-2" placeholder="Age"  />
        <button type="submit" class="btn btn-outline-primary mt-4">search</button>
    </form>
</div>